/* general */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 36px;
}

.titlesecond {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.titlethree {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-weight: 400;
  line-height: 1.5;
}

.text {
  letter-spacing: 0.02em;
  font-size: 16px;
}

.address {
  font-style: normal;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.head-nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
  color: #404bbf;
}

.head-address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section one */

.maintitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.solutions {
  background: #2e2f42;
  display: flex;
  justify-content: center;
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* section advantages */

.advanttitle {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* full*/
/*.advant-container {
    
}*/
.advant-name {
  margin-bottom: 8px;
}

.advant-list {
  display: flex;
  gap: 24px;
}

.advant-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 24px) / 4);
}

.advant-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.advant-icon {
  display: block;
}

/* section team*/

.team {
  background: #f4f4fd;
}

.titlesecond {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
    padding: 32px 0;
  }

.team-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}


.team-list-socials {
    display: flex;
  gap: 24px;
  justify-content: center;
 

}

/* .social-item-team {

} */

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;;
}

.social-icon {
    display: block;
    fill: #f4f4fd;

}




/* section portfolio */

.pf-name {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-wrap {
position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;

}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }



.pf-name-add {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.pf-title {
  margin-bottom: 8px;
}

/* footer */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.foot-logo-part,
.foot-text {
  color: #f4f4fd;
}

.foot-container {
  display: flex;
  align-items: baseline;
}

.foot-left {
  margin-right: 120px;
}
.foot-text {
  max-width: 264px;
}

.foot-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.foot-social-text {
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.foot-list-socials {
  gap: 16px;
}

.foot-social-link:hover,
.foot-social-link:focus {
  background-color: #31d0aa;
}